.input-text {
    border: 1px solid #666;
    padding: 4px;
    margin-right: 4px;
    padding-right: 6px;
}

.new-user{
    border: 2px solid #666;
    width: 120px;
    margin-bottom: 20px;
    padding:5px;
}